# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Rider ignored files
/modules.xml
/.idea.Knative.iml
/contentModel.xml
/projectSettingsUpdater.xml
